In [31]:
import numpy as np # linear algebra, post installation using pip install numpy
import pandas as pd # data processing, post installation using pip install pandas
import nltk # for sentiment analysis, VADER is the part of this package post installation using pip install nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to C:\Users\Samartha
[nltk_data]     R\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [32]:
df = pd.read_csv("Twitter_Data.csv")
df.head()

  Unnamed: 0                                              Tweet  Tick
0          0  @ZolarMan100 @Xx_WiReD_xX @AlderLaneeggs @Tara...  $AMC
1          1  $ZEC, one of the largest shorted coins in cryp...  $AMC
2          2  ðŸ“²  Sign up now for real time stock alerts. Lin...  $AMC
3          3  Can't wait to stuff hedgie's ass like a turkey...  $AMC
4          4  @TaraBull808 TARA letâ€™s push for s small DIVID...  $AMC

In [33]:

analyzer = SentimentIntensityAnalyzer()
df['scores'] = df['Tweet'].apply(lambda x: analyzer.polarity_scores(str(x)))
df.head()

,Unnamed: 0,Tweet,Tick,scores
0,0,@ZolarMan100 @Xx_WiReD_xX @AlderLaneeggs @Tara...,$AMC,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
1,1,"$ZEC, one of the largest shorted coins in cryp...",$AMC,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
2,2,ðŸ“² Sign up now for real time stock alerts. Lin...,$AMC,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
3,3,Can't wait to stuff hedgie's ass like a turkey...,$AMC,"{'neg': 0.17, 'neu': 0.718, 'pos': 0.112, 'com..."
4,4,@TaraBull808 TARA letâ€™s push for s small DIVID...,$AMC,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."

In [34]:
df['neg'] = df['Tweet'].apply(lambda x:analyzer.polarity_scores(str(x))['neg'])
df['neu'] = df['Tweet'].apply(lambda x:analyzer.polarity_scores(str(x))['neu'])
df['pos'] = df['Tweet'].apply(lambda x:analyzer.polarity_scores(str(x))['pos'])
df['compound'] = df['Tweet'].apply(lambda x:analyzer.polarity_scores(str(x))['compound'])
df.head()

,Unnamed: 0,Tweet,Tick,scores,neg,neu,pos,compound
0,0,@ZolarMan100 @Xx_WiReD_xX @AlderLaneeggs @Tara...,$AMC,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.00,1.000,0.000,0.0000
1,1,"$ZEC, one of the largest shorted coins in cryp...",$AMC,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.00,1.000,0.000,0.0000
2,2,ðŸ“² Sign up now for real time stock alerts. Lin...,$AMC,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.00,1.000,0.000,0.0000
3,3,Can't wait to stuff hedgie's ass like a turkey...,$AMC,"{'neg': 0.17, 'neu': 0.718, 'pos': 0.112, 'com...",0.17,0.718,0.112,-0.3164
4,4,@TaraBull808 TARA letâ€™s push for s small DIVID...,$AMC,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.00,1.000,0.000,0.0000

In [35]:
df['sentiment_label']=''
df.loc[df.compound>0,'sentiment_type']=1
df.loc[df.compound==0,'sentiment_type']=0
df.loc[df.compound<0,'sentiment_type']=-1
df.head()

,Unnamed: 0,Tweet,Tick,scores,neg,neu,pos,compound,sentiment_label,sentiment_type
0,0,@ZolarMan100 @Xx_WiReD_xX @AlderLaneeggs @Tara...,$AMC,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.00,1.000,0.000,0.0000,,0.0
1,1,"$ZEC, one of the largest shorted coins in cryp...",$AMC,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.00,1.000,0.000,0.0000,,0.0
2,2,ðŸ“² Sign up now for real time stock alerts. Lin...,$AMC,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.00,1.000,0.000,0.0000,,0.0
3,3,Can't wait to stuff hedgie's ass like a turkey...,$AMC,"{'neg': 0.17, 'neu': 0.718, 'pos': 0.112, 'com...",0.17,0.718,0.112,-0.3164,,-1.0
4,4,@TaraBull808 TARA letâ€™s push for s small DIVID...,$AMC,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...",0.00,1.000,0.000,0.0000,,0.0

In [36]:
df.groupby('sentiment_label')['compound'].describe()

                  count      mean       std     min  25%  50%     75%     max
sentiment_label
                 1390.0  0.145462  0.342857 -0.8964  0.0  0.0  0.4019  0.9493